@model Library_Management_System.Common.PaginatedList<Library_Management_System.Models.IssuedBook>

@{
    ViewData["Title"] = "Issued Books";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"></script>

<h2>Issued Books</h2>
<p>
    <a asp-controller = "IssuedBooks" asp-action="Issue" class="btn btn-success">Add New IssuedBook</a>
</p>

<table id="issuedBooksTable" class="table table-striped">
    <thead>
        <tr>
            <th>BookId</th>
            <th>MemberId</th>
            <th>IssueDate</th>
            <th>Created By</th>
            <th>Updated By</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var IssuedBook in Model.Items!)
        {
            <tr>
                <td>@IssuedBook.BookId</td>
                <td>@IssuedBook.MemberId</td>
                <td>@IssuedBook.IssueDate</td>
                <td>@IssuedBook.CreatedBy</td>
                <td>@IssuedBook.UpdatedBy</td>
                <td>
                    <a asp-action="Return" asp-route-id="@IssuedBook.Id" class="btn btn-danger btn-sm">Return</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $("#issuedBooksTable").tablesorter();
</script>
<style>
    th { cursor: pointer; }
</style>


@if (Model.TotalPages > 1)
{
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">

            @if (Model.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link"
                       asp-action="Index"
                       asp-route-page="@(Model.PageIndex - 1)">
                        Previous
                    </a>
                </li>
            }

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link"
                       asp-action="Index"
                       asp-route-page="@i">
                        @i
                    </a>
                </li>
            }

            @if (Model.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link"
                       asp-action="Index"
                       asp-route-page="@(Model.PageIndex + 1)">
                        Next
                    </a>
                </li>
            }

        </ul>
    </nav>
}

